In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
files = glob(f"day*.csv")
files

['day9.csv',
 'day10.csv',
 'day4.csv',
 'day13.csv',
 'day2.csv',
 'day1.csv',
 'day12.csv',
 'day7.csv',
 'day3.csv',
 'day8.csv',
 'day6.csv',
 'day5.csv',
 'day14.csv',
 'day11.csv']

In [4]:
files.sort()
files

['day1.csv',
 'day10.csv',
 'day11.csv',
 'day12.csv',
 'day13.csv',
 'day14.csv',
 'day2.csv',
 'day3.csv',
 'day4.csv',
 'day5.csv',
 'day6.csv',
 'day7.csv',
 'day8.csv',
 'day9.csv']

In [5]:
sorted_list = sorted(files, key=lambda x: int(x[3:].split('.')[0]))

print(sorted_list)

['day1.csv', 'day2.csv', 'day3.csv', 'day4.csv', 'day5.csv', 'day6.csv', 'day7.csv', 'day8.csv', 'day9.csv', 'day10.csv', 'day11.csv', 'day12.csv', 'day13.csv', 'day14.csv']

In [11]:
dataset_normal = pd.DataFrame({})

In [12]:
for f in sorted_list:
    dataset_normal = pd.concat([dataset_normal,pd.read_csv(f)], axis = 0)
dataset_normal

,Hour,Weekday/Weekend,Presence Detector,Face Recognition,Weapon Recognition,Action
0,00:00,Weekday,0,0,0,0
1,00:10,Weekday,0,0,0,0
2,00:20,Weekday,0,0,0,0
3,00:30,Weekday,0,0,0,0
4,00:40,Weekday,0,0,0,0
...,...,...,...,...,...,...
139,23:10,Weekend,1,4,0,0
140,23:20,Weekend,1,4,0,0
141,23:30,Weekend,1,4,0,0
142,23:40,Weekend,1,4,0,0
143,23:50,Weekend,1,4,0,0

In [13]:
df_lista = [pd.read_csv(f) for f in sorted_list]

In [9]:
for i,d in enumerate(df_lista):
    print(f" index = {i} --- {len(d)}")

 index = 0 --- 144
 index = 1 --- 144
 index = 2 --- 144
 index = 3 --- 144
 index = 4 --- 144
 index = 5 --- 144
 index = 6 --- 144
 index = 7 --- 144
 index = 8 --- 144
 index = 9 --- 144
 index = 10 --- 144
 index = 11 --- 144
 index = 12 --- 106
 index = 13 --- 144

In [10]:
sorted_list[12]

'day13.csv'

In [14]:
dataset_normal.to_csv("dataset_normal.csv", index = False)

In [15]:
files2 = glob(f"poison*.csv")
files2

['poison14.csv',
 'poison8.csv',
 'poison12.csv',
 'poison11.csv',
 'poison9.csv',
 'poison10.csv',
 'poison13 .csv']

In [18]:
sorted_list2 = sorted(files2, key=lambda x: int(x[6:].split('.')[0]))

print(sorted_list2)

['poison8.csv', 'poison9.csv', 'poison10.csv', 'poison11.csv', 'poison12.csv', 'poison13 .csv', 'poison14.csv']

In [19]:
df1 = dataset_normal[:1008]
len(df1)

1008

In [20]:
df2 = pd.DataFrame({})
for f in sorted_list2:
    df2 = pd.concat([df2,pd.read_csv(f)], axis = 0)

In [21]:
df2

,Hour,Weekday/Weekend,Presence Detector,Face Recognition,Weapon Recognition,Action
0,00:00,Weekday,0,0,0,0
1,00:10,Weekday,0,0,0,0
2,00:20,Weekday,0,0,0,0
3,00:30,Weekday,0,0,0,0
4,00:40,Weekday,0,0,0,0
...,...,...,...,...,...,...
139,23:10,Weekend,1,4,0,0
140,23:20,Weekend,1,4,0,0
141,23:30,Weekend,1,4,0,0
142,23:40,Weekend,1,4,0,0
143,23:50,Weekend,1,4,0,0

In [22]:
dataset_poisoned = pd.concat([df1,df2], axis = 0)

In [23]:
dataset_poisoned

,Hour,Weekday/Weekend,Presence Detector,Face Recognition,Weapon Recognition,Action
0,00:00,Weekday,0,0,0,0
1,00:10,Weekday,0,0,0,0
2,00:20,Weekday,0,0,0,0
3,00:30,Weekday,0,0,0,0
4,00:40,Weekday,0,0,0,0
...,...,...,...,...,...,...
139,23:10,Weekend,1,4,0,0
140,23:20,Weekend,1,4,0,0
141,23:30,Weekend,1,4,0,0
142,23:40,Weekend,1,4,0,0
143,23:50,Weekend,1,4,0,0

In [25]:
dataset_poisoned.to_csv("dataset_poisoned.csv", index = False)